.resolucao {
  height: 100vh;
}

.conteudo {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--espacamento-gg);
  padding: var(--espacamento-p);
}

.painel {
  flex-grow: 1;
  display: flex;
  gap: var(--espacamento-g);
  background-color: var(--cor-fundo-primaria);
  border-radius: var(--raio-extra-grande);
  padding: var(--espacamento-p) var(--espacamento-m);
}

.painel-perfil {
  width: 25%;
  height: 100%;
  background-color: var(--cor-fundo-secundaria);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
}

.painel-acoes {
  display: flex;
  flex-direction: column;
  gap: var(--espacamento-m);
  width: 100%;
  height: 100%;
}

.painel-acoes-menu {
  display: flex;
  justify-content: center;
  gap: var(--espacamento-regular);
  width: 100%;
  height: 80px;
  padding: var(--espacamento-regular);
  background-color: rgba(255, 126, 46, 0.38);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
}

.painel-acoes-menu-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: var(--raio-extra-grande);
}

.painel-acoes-menu-botao-ativo {
  background-color: var(--cor-fundo-secundaria);
  font-weight: 600;
}

.painel-acoes-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  padding-top: 12px;
  height: 100%;
  background-color: var(--cor-fundo-secundaria);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
}

.pesquisa-acoes{
  padding: var(--espacamento-regular);
  width: 1008px;

}

.entrada-container-filtro{

  width: 717px;
  position: relative;
}

.container-produtos{
  display: flex;
  width: 1008px;
  padding: 12px;
  gap: 16px

}

.item{
  display: flex;
  width: 329px;
  height: 240px;
  background-color: var(--cor-fundo-secundaria);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
  
}

.painel-mobile {
  display: none;
}

.painel-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: var(--espacamento-regular);
}

.painel-mobile-view {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.painel-mobile-menu-vazio {
  height: var(--espacamento-xg);
}

.card-perfil-com-nome {
  display: flex;
  gap: var(--espacamento-p);
  align-items: center;
}

.legenda {
  font-weight: 600;
  font-size: 12px;
}

.card-distancia-menu {
  display: flex;
  gap: var(--espacamento-regular);
  align-items: center;
  z-index: 10;
}

.nao-renderizar {
  display: none;
}

.localizacao-mobile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  left: 40%;
  top: 35%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--cor-marca-primaria);
  border-radius: 100%;
  z-index: 0;
}

@media (width <= 40rem) {

  .painel-mobile {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: var(--espacamento-g) var(--espacamento-p);
  }

  .navbar-desktop, .painel {
    display: none;
  }
}

@media (width > 40rem) {
  .localizacao-mobile {
    display: none;
  }
}