:root {
  --raio-login: 30px;
  --font-Light: 300;
  --font-Regular: 400;
  --font-Medium: 500;
  --font-SemiBold: 600;  
}

body {
  background-color: var(--cor-fundo-primaria);
}
.containerLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 37%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(10, 8, 8, 0.1);
  border-radius: 8px;
  background-color: var(--cor-branco-translucido);
  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
} 



h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.73);
  font-weight: 600;
} 

.rotulo-entrada {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 100px;
}

a {
  text-decoration: none;
}

.botaoCentral {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.labelDesign {
  padding: var(--espacamento-p);
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: var(--espacamento-regular);
}

.label-textoDesign {
  text-align: center;
  text-wrap: nowerap;
  flex-grow: 0.1;
}

.linhaDesign {
  border-top: 1px solid var(--cor-borda-neutra);
  flex-grow: 1;
}

.social-login {}

.cadastroVendedor {
  margin-top: 15px;
  margin-bottom: 36px;
  text-align: center;

}

.navbar-tamanho {
  width: 100%;
}
