.resolucao {
    height: 100vh;
}

.conteudo{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--espacamento-gg);
    padding: var(--espacamento-p);
    justify-content: space-between;
    
}

.painel-controle{
    padding: var(--espacamento-xg);
    border-right: solid var(--cor-borda-neutra) 2px;
}

.painel {
    background-color: var(--cor-fundo-secundaria);
    display: flex;
    width: auto;
    max-height: 696px;
    border-radius: 20px;
    flex-grow: 1;
    margin-left: 100px;
    margin-right: 100px;
}

.painel-sidebar {
    width: 260px;
    background: var(--cor-fundo-secundaria);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.menu-sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
    margin-left: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--cor-texto-primaria);
    font-size: 16px;
    text-decoration: none;
}

.destaque-texto {
    font-weight: var(--font-SemiBold);
}

.painel-forms{
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--espacamento-regular);
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: var(--espacamento-ggg);
    
}
