* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* Buscar cores de acordo com manual da marca depois  */
  display: flex;
  justify-content: center;
  padding: 30px;}

main.main-site {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1100px;
  background-color: #fff; /* Buscar cores de acordo com manual da marca depois  */
  padding: 40px;
  border-radius: 10px;
}
