.painel {
  flex-grow: 1;
  display: flex;
  gap: var(--espacamento-g);
  background-color: var(--cor-fundo-primaria);
  border-radius: var(--raio-extra-grande);
  padding: var(--espacamento-p) var(--espacamento-m);
}

.painel-perfil {
  width: 25%;
  height: 100%;
  background-color: var(--cor-fundo-secundaria);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
}

.painel-acoes {
  display: flex;
  flex-direction: column;
  gap: var(--espacamento-m);
  width: 100%;
  height: 100%;
}

.painel-acoes-menu {
  display: flex;
  justify-content: center;
  gap: var(--espacamento-regular);
  width: 100%;
  height: 80px;
  padding: var(--espacamento-regular);
  background-color: rgba(255, 126, 46, 0.38);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
}

.painel-acoes-menu-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: var(--raio-extra-grande);
}

.painel-acoes-menu-botao-ativo {
  background-color: var(--cor-fundo-secundaria);
  font-weight: 600;
}

.painel-acoes-view {
  height: 100%;
  background-color: var(--cor-fundo-secundaria);
  border-radius: var(--raio-extra-grande);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
}