.resolucao{
  height: 100vh;
}
.navbar-desktop{
    padding: var(--espacamento-g) var(--espacamento-m);
    justify-content: space-evenly;
    background-color: var(--cor-branco-translucido);
    opacity: 0.9;
}

.navbar-desktop-imagem{
  width: 122px;
  height: 74px;
}

.texto-entrada-absoluto{
  text-align: center;
}

.navbar-desktop_search input::placeholder{
  color: var(--cor-marca-primaria);
}

.icone-tamanho-g .icone-menu .icone-borda-preta{
  color: var(--cor-marca-primaria);
}

.iconkm-container{
  display: flex;
  justify-content: space-evenly;
  padding: var(--espacamento-m);
}

.iconkm-container button{
  width: 200px;
  height: 23px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: none;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-branco-translucido);
  padding:  2px;
  border-radius: 4px;
}