.resolucao{
  height: 100vh;
}
.navbar-desktop{
    padding: var(--espacamento-g) var(--espacamento-m);
    justify-content: space-evenly;
    background-color: var(--cor-branco-translucido);
    opacity: 0.9;
}

.navbar-desktop-imagem{
  width: 122px;
  height: 74px;
}

.texto-entrada-absoluto{
  text-align: center;
}

.navbar-desktop_search input::placeholder{
  color: var(--cor-marca-primaria);
}

.icone-tamanho-g .icone-menu .icone-borda-preta{
  color: var(--cor-marca-primaria);
}