.resolucao{
  height: 100vh;
}
.navbar-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.navbar-desktop-imagem{
  width: 75px;
  height: 50px;
}

 .section-search{
  margin: var(--espacamento-g);
 }

.iconkm-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  padding: var(--espacamento-m);
}

.iconkm-container button{
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: none;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-branco-translucido);
  padding:  2px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.centralizar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--espacamento-m);
  margin-top: 140px;
}

.centralizar button{
  width: 50px;
  height: 50px;
  border:none;
  cursor: pointer;
  background: var(--cor-branco-translucido);
  border-radius: 50%;
}