body{
    background-color: #fff6e9;
}

.resolucao-pagina {
    width: 100%;
}

.navbar-desktop-imagem {
    margin-left: 10px;
}

.logo{
    width: 122px;
    height: 74px;

}

.navbar-container {
    padding-left: 100px;
    padding-bottom: 27px;
    padding-top: 27px;
    padding-right: 100px;
}

.botaoVoltar{
    padding-left: 25px;
    padding-top: 45px;
}

.containerLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 37%;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 10px rgba(10, 8, 8, 0.1);
  border-radius: 8px;
  background-color: var(--cor-branco-translucido);
  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.73);
  font-weight: 600;
}

.rotulo-entrada {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  color:rgba(0, 0, 0, 0.133)
}

.botaoCentral {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

